{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Discover which Grain you want to Sort</h2>
        <a href="#" class="btn-primary">Click Here to Start streaming</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Prediction</a>
      </div>

      <div class="section-device">
        <img src="static/img/grain.jpg">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}